@import url(PROYECTO-WEB/botones/css/pushy-buttons.css);
html, body {
     min-height: 100%;
}
body{
    /* background-color: #632432; */
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    margin: 30px auto;
    padding: 90px auto;
    width: 300px;
float: left;
}
/*table{
    background-color: #fff;
    text-align: left;
    width: 100%;
}


.fondo_paisaje {
    height: 100%;
    background: url(PROYECTO-WEB/Recursos/paisaje.jpg);
    background-size: cover;
    border-bottom: solid 5px #22577A;
    color: #fff;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #57CC99;
    color: #fff;
}*/
.papa{
    display: flex;
}
.header{
    background: url(PROYECTO-WEB/Recursos/paisaje.jpg);
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
   
    display: flex;
    flex-flow: column nowrap;
}



.crudbed{
   background-color: rgb(73, 205, 58);
   color: #fff;
   font-family: calibri;
   font-size: 20px;
  
   font-weight: bold;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    
}
.crudbed:hover{
    background-color: rgb(104, 246, 94);
    
}
.crudbel{
    background-color: rgb(246, 57, 57);
       color: #fff;
   font-family: calibri;
   font-size: 20px;
     font-weight: bold;
  
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    
}
.crudbel:hover{
    background-color: rgb(250, 98, 98);
}

      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
      input[type=number] { -moz-appearance:textfield; }
      
      
       input[type=date]::-webkit-inner-spin-button, 
      input[type=date]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
      input[type=date] { -moz-appearance:textfield; }